.all_cards{
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    
}
.Crud{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Crud input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-top: 30px;
    font-size: 16px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}